@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

body{
    background-size: cover;
    font-family: 'Poppins', sans-serif;
}

h1{
    color: white;
    text-align: center;
    margin-top: 20px;
    text-shadow: 2px 2px 4px #000000;
}

p{
    color: white;
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
    text-shadow: 2px 2px 4px #000000;
}

h3{
    color: white;
    font-size: 30px;
    margin-top: 20px;
    text-shadow: 2px 2px 4px #000000;
}

a{
    color: white;
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
    text-shadow: 2px 2px 4px #000000;
    text-decoration: none;
}